<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoboTec</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="icon" type="image/x-icon" href="styles/icono.ico">
</head>
<body>
    <%- include('./partials/header') %>
    
    <main>
        <div class="div-left-info"></div>
        
        <div class="div-main">
            <% products.forEach(product => { %>
                <div class="products inactive">
                    <div class="card" id="<%= product.name %>">
                        <a href="/robot">
                            <div class="side front">
                                <img width="300px" height="250px" src="<%= product.imgUrl %>">
                                <h2><%= product.name %></h2>
                                <p><%= product.description %></p>
                            </div>
                        </a>
                    </div>
                </div>
            <% }); %>
                
            <div class="div-rigth-info"></div>
        </div>
        </main>
        
        <footer>
            <p>&copy; 2023 CarlosV IzanSan Angel Predro. Todos los derechos reservados.</p>
        </footer>
        <script src="../script/main.js" type="module"></script>
</body>
</html>