<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>RoboTech</title>
   <link rel="icon" type="image/x-icon" href="img/favicon.ico">
   <link rel="stylesheet" type="text/css" href="styles/index.css">
   <script src="/bundle.js" type="module" defer></script>
</head>


<body>
   <div><%- include('./partials/header') %></div>
   <main>
      <div class="div-nav">
         <input type="text" id="searchInp" placeholder="Buscar categoria..">
         <div class="div-search-btn">
            <span id="search-btn"><img src="img/lupa.png"></span>
         </div>
      </div>
      <div class=" div-main">
         <div class="category">
            <button class="btn-category">
               Domésticos
            </button>
            <button class="btn-category">
               Industriales
            </button>
            <button class="btn-category">
               Tecnológicos
            </button>
            <button class="btn-category">
               Servicio
            </button>
         </div>

         <div class="div-products">
            <% products.forEach(product=> { %>
               <div class="card" id="<%= product.name %>">
                  <a alt="robot.web" href="/robot" aria-label="Select robot">
                     <img loading="lazy" style="width: 100%; height: 300px;" alt="product" src="<%= product.imgUrl %>">
                  </a>
                  <h2> <%= product.name %> </h2>
                  <p> <%= product.description %> </p>
               </div>
               <% }); %>
         </div>

         <div class=" links">
         </div>

      </div>
   </main>

   <div><%- include('./partials/footer') %></div>
</body>

</html>