<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoboTec</title>
    <link rel="stylesheet" type="text/css" href="styles/robot.css">
    <link rel="icon" type="image/x-icon" href="styles/icono.ico">
</head>
<body>
    <%- include('./partials/header') %>

    <main>
        <div class="product">
            <h1 class="title"><%= robot.name %></h1>
            <img src="<%= robot.imgUrl %>">
            <p><%- robot.description %></p>
            <h1 class="price"><%= robot.price %>€</h1>
        </div>
    </main>

    <footer>

    </footer>
    <script src="../script/robot.js" type="module"></script>
</body>
</html>